## This is a file where you store your environment variables needed for distribution with your team
## Obviously, don't put actual tokens in here, but use placeholders like: API_TOKEN="TOKEN"
## This is so people who pull down your project know what .env variables they need.