[MASTER]
disable=
    C0114, # missing module-docstring
    C0115, # missing class-docstring
    C0116, # missing function-docstring
    R0903,
    W0613

ignore=migrations,pyproject,poetry,nohup,env.dist,pyproject.toml,db.sqlite3,poetry.lock,Dockerfile,makefile,manage.py,tests,pytest.ini,scripts
ignore-paths=^.*/\.migrations