## This is a file where you store your environment variables needed for distribution with your team
## Obviously, don't put actual tokens in here, but use placeholders like: API_TOKEN="TOKEN"
## This is so people who pull down your project know what .env variables they need.

# Django debug config; Turn FALSE for prod (shows debug messages in browser if set to True)
DEBUG = True

# Django secret key; Can be anything you want (think UUID)
SECRET_KEY = MySuperSecretProductionKey

# Django default admin username; Used to make superuser on build
DJANGO_SUPERUSER_USERNAME = ADMIN

# Django default admin password; Used to make superuser on build
DJANGO_SUPERUSER_PASSWORD = ADMIN

# Django default admin email; Used to make superuser on build
DJANGO_SUPERUSER_EMAIL = admin@admin.com

# The path to semester CSV file (if you wish to use the load_semester command)
PATH_TO_CSV = your/path/to/file