@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --zoom: 213 100% 59%;
    --online: 129 64% 67%;
    --alert: 45 100% 50%;
    --warning: 1 100% 46%;
    --info: 239 100% 50%;
    --fortutor: 310 64% 32%;
    --background: 240 20% 99%;
    --foreground: 210 4% 11%;
    --card: 240 20% 99%;
    --card-foreground: 218 80% 1.5%;
    --popover: 0 0% 94%;
    --popover-foreground: 218 80% 1.5%;
    --primary: 358 75% 59%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 216 7% 93%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 358 72% 50%;
    --destructive-foreground: 240 20% 99%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --error: 358 72% 50%;
    --success: 132 50% 33%;
    --notification: 358 79% 47%;
  }

  .dark {
    --zoom: 213 100% 59%;

    --success: 122, 43%, 59%;
    --error: 0 100% 56%;
    --alert: 45 100% 50%;
    --warning: 0 100% 66%;
    --info: 203 100% 65%;

    --background: 0 0% 3%;
    --background-secondary: 0 0% 4%;

    --primary: 0 0% 71%;
    --secondary: 0 0% 20%;
    --accent: 5 95% 67%;
    --muted: 240 3.7% 15.9%;

    --foreground: 240 20% 99%;
    --card-foreground: 0 0% 98%;
    --primary-foreground: 0 0% 3%;
    --secondary-foreground: 0 0% 98%;
    --muted-foreground: 0 0% 50%;

    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 0% 30%;
    --input: 240 0% 15%;
    --ring: 240 4.9% 83.9%;
    --notification: 330 81% 60%;

    --red: 351 70% 33%;
    --orange: 22 100% 61%;
    --yellow: 47 100% 77%;
    --green: 163 75% 48%;
    --blue: 48 159% 224%;
    --indigo: 227 82% 68%;
    --violet: 242 94% 81%;
  }

  @layer base {
    * {
      @apply border-border;
    }

    body {
      @apply bg-background text-foreground;
      font-feature-settings:
        "rlig" 1,
        "calt" 1;
    }
  }
}
